@import "tailwindcss";
@config "../../tailwind.config.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Colores personalizados como variables CSS */
:root {
    --color-principal: #f96854;
    --color-secundario: #052d49;
    --font-sans: 'Nunito', ui-sans-serif, system-ui, sans-serif;
}
